@model PMS.Models.SessionKey
@inject IJsonHelper Json;
<script type="text/javascript">
    var SessionKey = @Html.Raw(@Json.Serialize(Model));
</script>

<link rel="stylesheet" href="~/css/style.css" />


        <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
             data-position="right" class="navbar-default navbar-static-side">
            <div class="sidebar-collapse menu-scroll">
                <div id="template1" ng-cloak ng-show="valuePatient">
                    <ul id="side-menu" class="nav">

                        <div class="clearfix"></div>
                        <li>
                            <a href="@Url.Action("Patient", "Home")">
                                <i class="fa fa-tachometer fa-fw">
                                    <div class="icon-bg bg-orange"></div>
                                </i><span class="menu-title">Patient</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Appointment", "Home")">
                                <i class="fa fa-desktop fa-fw">
                                    <div class="icon-bg bg-pink"></div>
                                </i><span class="menu-title">Appointment</span>
                            </a>

                        </li>
                        <li>
                            <a href="@Url.Action("MedHistory", "Home")">
                                <i class="fa fa-send-o fa-fw">
                                    <div class="icon-bg bg-green"></div>
                                </i><span class="menu-title">Medical History </span>
                            </a>

                        </li>

                    </ul>
                </div>
                <div id="template1" ng-cloak ng-show="valueDoctor">
                    <ul id="side-menu" class="nav">

                        <div class="clearfix"></div>
                        <li>
                            <a href="@Url.Action("DoctorSignup", "Home")">
                                <i class="fa fa-tachometer fa-fw">
                                    <div class="icon-bg bg-orange"></div>
                                </i><span class="menu-title">Doctor Signup</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ViewAppoinments", "Home")">
                                <i class="fa fa-desktop fa-fw">
                                    <div class="icon-bg bg-pink"></div>
                                </i><span class="menu-title">View Appoinments</span>
                            </a>

                        </li>
                        <li>
                            <a href="@Url.Action("ViewPrescription", "Home")">
                                <i class="fa fa-send-o fa-fw">
                                    <div class="icon-bg bg-green"></div>
                                </i><span class="menu-title">View Prescription </span>
                            </a>

                        </li>
                        <li>
                            <a href="@Url.Action("AddTreatments", "Home")">
                                <i class="fa fa-send-o fa-fw">
                                    <div class="icon-bg bg-green"></div>
                                </i><span class="menu-title">Add Treatments</span>
                            </a>

                        </li>
                    </ul>
                </div>
                <div id="template1" ng-cloak ng-show="valuePharmacists">
                    <ul id="side-menu" class="nav">

                        <div class="clearfix"></div>
                        <li>
                            <a href="@Url.Action("PharmacistProfile", "Home")">
                                <i class="fa fa-tachometer fa-fw">
                                    <div class="icon-bg bg-orange"></div>
                                </i><span class="menu-title">PharmacistProfile</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ViewPrescription", "Home")">
                                <i class="fa fa-desktop fa-fw">
                                    <div class="icon-bg bg-pink"></div>
                                </i><span class="menu-title">ViewPrescription</span>
                            </a>

                        </li>
                       
                    </ul>
                </div>
                <div id="template1" ng-cloak ng-show="valueAdmin">
                    <ul id="side-menu" class="nav">

                        <div class="clearfix"></div>
                        <li>
                            <a href="@Url.Action("ActivatedDocList", "Home")">
                                <i class="fa fa-tachometer fa-fw">
                                    <div class="icon-bg bg-orange"></div>
                                </i><span class="menu-title">Activated DocList</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ActivatedPharmacyList", "Home")">
                                <i class="fa fa-desktop fa-fw">
                                    <div class="icon-bg bg-pink"></div>
                                </i><span class="menu-title">Activated PharmacyList</span>
                            </a>

                        </li>
                        <li>
                            <a href="@Url.Action("AdminProfile", "Home")">
                                <i class="fa fa-send-o fa-fw">
                                    <div class="icon-bg bg-green"></div>
                                </i><span class="menu-title">AdminProfile</span>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
  
